<div class="flex flex-col grow space-y-4 md:mt-4">
  <section id="description" class="w-full">
    <div class="flex flex-row justify-center">
      <div class="flex flex-col max-w-3xl border-4 md:border-8 border-gray-800 text-center p-6 md:p-8">
        <h1 class="font-sans text-3xl md:text-5xl font-bold uppercase my-2 md:my-4 leading-tight">
          Whatever you clicked is <span class="text-cyan-800/70">coming soon</span>.
        </h1>

        <div class="p-6 md:p-4 text-center bg-cyan-800/70 border-4 md:border-8 border-gray-800 ">
          <h2 class="mx-auto md:my-4 font-sans text-xl md:text-3xl font-semibold uppercase text-white">
            For <span class="text-gray-800">real</span>.
          </h2>
        </div>
      </div>
    </div>
  </section>
</div>
