# Rails secret key base; in 7.1, we can simply set ENV["SECRET_KEY_BASE_DUMMY"]=1
# For now, you'll need to set a secret_key_base.
#
# This can be generated via `bin/rails secret`
secret_key_base: f6d6c94512c1e4c29bc914224116df2b43e89a2dd9e1d86cefd61b597943cb13b2961489f942116cb97b92df93c4d77005d2ac6e2c7a1b69e6de4f55a2a17984

# Create these variables via `bin/rails db:encryption:init`
# That command won't overwrite/edit any config files; you'll need to paste them
# into your encrypted test.yml.enc file.
active_record_encryption:
  primary_key: V9o4U1fzJ4gPGaM2lcPoVwgei3Ken0nf
  deterministic_key: a5mar99hx4d09kK5WHW52JTZV0UMFWyE
  key_derivation_salt: iEfBHavnIJfSxZXZNon7Lhnxo7fNRuwO
