<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing firm</h1>

  <%= render "form", founder_firm: @founder_firm %>

  <%= link_to "Show this firm", @founder_firm, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to firms", founder_firms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
