<div class="flex flex-col grow space-y-4">

  <section id="description" class="w-full">
    <div class="flex flex-row justify-center">
      <div class="flex flex-col max-w-3xl border-4 md:border-8 border-gray-800 text-center p-6 md:p-8">
        <h1 class="font-sans text-3xl md:text-5xl font-bold uppercase my-2 md:my-4 leading-tight">
          We are <span class="text-cyan-800/70">founders</span> supporting each-other.
        </h1>

        <h2 class="font-sans text-xl md:text-3xl font-semibold uppercase md:my-4 text-white">
          <div class="mx-auto p-6 md:p-4 text-center bg-cyan-800/70 border-4 md:border-8 border-gray-800 ">
            [Re] <span class="text-gray-800">Launch</span>
            is an independent community by us, for us, <span class="text-gray-800">for you</span>.
          </div>
        </h2>
      </div>
    </div>
  </section>

  <section id="details" class="w-full">
    <div class="flex flex-col md:space-y-4 md:space-x-0 w-full md:mx-0 mx-auto">
      <div class="flex flex-col space-y-1 md:space-y-2 my-4">
        <%# About %>
        <div class="flex flex-col md:flex-row md:items-start">

          <h3 class="md:w-1/3 text-xl font-semibold text-gray-600 md:text-right md:pr-8 md:pt-10">
            Nonprofit, <span class="text-gray-400">501(c)(3)</span>
          </h3>

          <div class="flex flex-col md:w-2/3 md:border-l-2 md:border-gray-300 outline-2 outline-white w-full my-2 md:p-4 md:pl-8">
            <%# Headline %>
            <div class="flex flex-col space-y-4 text-sm text-gray-600">
              <div>
                We wanted a&nbsp;<div
                class="inline-block border border-2 border-black p-0.5 md:p-1 font-semibold text-white bg-cyan-800/70 italic">
                no-hidden-agenda, independent
              </div>
                community and space to connect with other founders.
              </div>

              <p>
                [Re] Launch is our space, and, if you're a startup founder, it's your space too.
              </p>

              <p>
                [Re] Launch is proudly fiscally sponsored by Hack Club Bank, a project by The Hack Foundation
                (d.b.a. Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499).
              </p>

              <p>
                Many thanks to The Hack Foundation for their guidance and assistance in helping us navigate
                new and exciting avenues to help ever more founders.
              </p>
            </div>
          </div>
        </div>

        <%# People %>
        <div class="flex flex-col md:flex-row md:items-start">

          <h3 class="md:w-1/3 text-xl font-semibold text-gray-600 md:text-right md:pr-8 md:pt-10">
            People
          </h3>

          <div class="flex flex-col md:w-2/3 md:border-l-2 md:border-gray-300 outline-2 outline-white w-full my-2 md:p-4 md:pl-8">
            <%# Company URL %>
            <div class="flex flex-col space-y-2 text-sm text-gray-600">
              <p>
                As a fiscally sponsored project, we have an informal advisory team, which acts similarly to a board:
                these folks ensure that [Re] Launch is always moving in the right direction.
              </p>

              <%# TODO: abstract/make better %>

              <%# Actual people %>
              <div class="flex flex-col">

                <%# Active %>

                <div class="flex flex-col mt-4 ">
                  <div>
                    <h3 class="font-bold">Organizers</h3>
                  </div>

                  <div class="flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0 mt-2">
                    <div class="flex flex-col md:w-1/3 border-4 border-black outline-2 outline-cyan-800 bg-cyan-800/70 p-4 rounded-lg">
                      <p class="text-xs text-gray-200">
                        Founder, Co-organizer
                      </p>

                      <div class="flex flex-row text-white">
                        <p>Mo Omer</p>
                      </div>
                    </div>

                    <div class="flex flex-col md:w-1/3 border-4 border-black outline-2 outline-cyan-800 bg-cyan-800/70 p-4 rounded-lg">
                      <p class="text-xs text-gray-200">
                        Charter member, Co-organizer
                      </p>

                      <div class="flex flex-row text-white">
                        <p>Dr. Majid Safdari</p>
                      </div>
                    </div>

                    <div class="flex flex-col md:w-1/3 border-4 border-black outline-2 outline-cyan-800 bg-cyan-800/70 p-4 rounded-lg">
                      <p class="text-xs text-gray-200">
                        Charter member, Co-organizer
                      </p>

                      <div class="flex flex-row text-white">
                        <p>Eric Mills</p>
                      </div>
                    </div>

                  </div>
                </div>

                <%# Inactive %>

                <div class="flex flex-col mt-4 ">
                  <div>
                    <h3 class="font-bold">Emeritus (inactive) organizers</h3>
                    <div class="flex flex-col space-y-2 mt-2 text-xs text-gray-600 border-l-2 border-gray-300 pl-2">
                      <p>
                        Merit is accrued and doesn't decay.
                      </p>

                      <p>
                        Many thanks go to our Emeritus organizers, for helping make the group a reality.
                      </p>
                    </div>
                  </div>

                  <div class="flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0 mt-2">
                    <div class="flex flex-col md:w-1/2 border-4 border-black outline-2 outline-cyan-800 bg-cyan-800/30 p-4 rounded-lg">
                      <p class="text-xs text-gray-600">
                        Charter member, Co-organizer - Emeritus
                      </p>

                      <div class="flex flex-row text-gray-600">
                        <p>Dr. Stephen Mahon</p>
                      </div>
                    </div>

                    <div class="flex flex-col md:w-1/2 border-4 border-black outline-2 outline-cyan-800 bg-cyan-800/30 p-4 rounded-lg">
                      <p class="text-xs text-gray-600">
                        Charter member, Co-organizer - Emeritus
                      </p>

                      <div class="flex flex-row text-gray-600">
                        <p>Jane Sun</p>
                      </div>
                    </div>

                  </div>
                </div>

                <%# Advisory %>

                <div class="flex flex-col mt-4 ">
                  <div>
                    <h3 class="font-bold">Advisors</h3>
                    <div class="flex flex-col space-y-2 mt-2 text-xs text-gray-600 border-l-2 border-gray-300 pl-2">
                      <p>
                        Great contributions in time, energy, and resources go into the group from our advisory council
                        members.
                      </p>
                      <p>
                        Their guidance, and assistance, in moving the group forward is huge.
                      </p>
                    </div>
                  </div>

                  <div class="flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0 mt-2">
                    <div class="flex flex-col md:w-1/2 border-4 border-black outline-2 outline-cyan-800 bg-cyan-800/70 p-4 rounded-lg">

                      <p class="text-xs text-gray-200">
                        Advisor
                      </p>

                      <div class="flex flex-row text-white">
                        <p>Pending approval to post</p>
                      </div>
                    </div>

                    <div class="flex flex-col md:w-1/2 border-4 border-black outline-2 outline-cyan-800 bg-cyan-800/70 p-4 rounded-lg">
                      <p class="text-xs text-gray-200">
                        Advisor
                      </p>

                      <div class="flex flex-row text-white">
                        <p>Pending approval to post</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
</div>
