<div class="flex flex-col md:space-y-4 md:space-x-0 w-full md:mx-0 mx-auto">
  <h2 class="text-3xl font-semibold mx-auto">
    You're updating your personal profile.
    <span class="inline-block md:block italic text-sm md:text-center">Yippee.</span>
  </h2>
  <%= render "form", user_profile_personal: @user_profile_personal %>
</div>
