<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing firm role</h1>

  <%= render "form", founder_firm_role: @founder_firm_role %>

  <%= link_to "Show this firm role", @founder_firm_role, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to firm roles", founder_firm_roles_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
