<div
  class="container max-w-6xl mx-auto md:px-6 md:py-4 my-4">
  <div
    class="flex justify-between items-center md:flex-row mx-4 md:mx-0">

    <div class="flex flex-row md:mx-auto my-2 items-center z-[100]">
      <%= link_to app_index_url do %>
        <%= image_tag "logo_dark_bg_750px.png", class: "flex-1 mx-auto rounded-full max-h-14 shadow-full-lg shadow-cyan-800/50 hover:shadow-cyan-700/50 duration-200" %>
      <% end %>

      <p class="hidden md:block pl-4 text-3xl md:text-5xl font-sans align-middle font-semibold">
        <span class="text-gray-400">[Re]</span>Launch
      </p>
    </div>

    <%# Via the Tailwind from Scratch course on O'Reilly %>
    <div class="md:hidden">
      <button
        data-menu-nav-target="button"
        data-action="click->menu-nav#toggle"
        type="button"
        class="z-[100] block hamburger md:hidden focus:outline-none">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>
    </div>

  </div>

  <%# TODO: This should be a hamburger menu %>
  <% if current_layout == "application" %>
    <%= content_tag :div, class: "hidden md:flex items-center md:justify-end", data: { "menu-nav-target": "menu" } do %>
      <%= render "layouts/nav" %>
    <% end %>
  <% end %>
</div>
