<div class="header-container mt-12">
  <%= link_to app_index_url do %>
    <%= image_tag "logo_dark_bg_750px.png", class: "mx-auto mb-4 md:mb-8 rounded-full max-h-14" %>
  <% end %>

  <%= turbo_frame_tag 'navigation' do %>
    <%#= render "layouts/nav" %>
  <% end %>
</div>

