<div
  class="absolute md:static top-0 bottom-0 left-0 w-full md:w-auto flex flex-col min-h-screen md:min-h-0 py-1 md:py-0 pl-12 md:pl-0 text-lg md:text-base text-white md:text-black z-[80] bg-cyan-800 md:bg-inherit md:min-h-0 md:items-center md:flex-rowmd:justify-end">

  <div class="flex flex-col md:flex-row pt-36 md:pt-0 md:space-x-8">

    <% if current_user %>
      <div class="group md:block">
        <%= link_to "Dashboard", dashboard_url, class: "no-underline md:border-r md:border-white hover:underline" %>
        <div class="mx-1 mt-1 duration-500 border-b-2 opacity-0 md:border-blue-400 md:group-hover:opacity-100"></div>
      </div>

      <div class="group md:block">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete,
                                                             class: "no-underline hover:underline",
                                                             form: {
                                                               # https://github.com/rails/rails/issues/44170#issuecomment-1069644509
                                                               data: { turbo_method: :delete }
                                                             } %>
        <div class="mx-1 mt-1 duration-500 border-b-2 opacity-0 md:border-blue-400 md:group-hover:opacity-100"></div>
      </div>
    <% else %>

      <%# Static %>
      <div class="group md:block">
        <%= link_to "About", about_url, class: "no-underline md:border-r md:border-white hover:underline" %>
        <div class="mx-1 mt-1 duration-500 border-b-2 opacity-0 md:border-blue-400 md:group-hover:opacity-100"></div>
      </div>

      <div class="group md:block">
        <%= link_to "Log in", new_user_session_path, class: "no-underline hover:underline" %>
        <div class="mx-1 mt-1 duration-500 border-b-2 opacity-0 md:border-blue-400 md:group-hover:opacity-100"></div>
      </div>
    <% end %>

  </div>
</div>
